<% content_for :head do %>
	<script type="text/javascript" src="http://api.map.baidu.com/api?ak=eVNrME420wABlTipUzTN4LAs&v=2.0"></script>
<% end %>
<!--标题LOGO-->
<div id="logo">
	<img src="/assets/img/logo.png"/>
	<div>
		<a href="">ParkVille</a>|<a href="">Logout</a>
	</div>
</div>
<!--左侧导航栏-->
<div id="leftNav">
	<ul>
		<li id="home">Home</li>
		<li id="occupancy">Occupancy</li>
		<li id="analytics">Analytics</li>
	</ul>
</div>
<!--首页内容-->
<div id="homeContent">
	<div class="analytics-top">
		<div class="search">
			<input type="text" id="searchTxt" />
			<button id="searchBtn">搜索</button>
		</div>
		<span id="mapCurrentTime">aaaa</span>
	</div>
	<div id="mapCanvas">
		不支持地图显示
	</div>
</div>
<!--车库数据内容-->
<div id="analyticsContent">
	<div class="analytics-top">
		<!--切换柱状图和表格分析-->
		<select id="changeOccupancy">
			<option value="occupied" >Occupied Stauts</option>
			<option value="idle">Idle Status</option>
		</select>
		<!--切换柱状图和表格分析-->
		<select id="changeTable">
			<option value="turnover" selected>Turnover By Day & Week</option>
			<option value="occupancy">Occupancy By Hour & Block Face</option>
		</select>
		<span id="currentTime">aaaa</span>
	</div>
	
	<div id="operationBtn">
		<a href="#" id="refresh"><img src="/assets/img/refresh.png"/></a>
	</div>
	
	<div id="analyticsData">
		<h3>Turnover By Day & Week</h3>
		<!--柱状图分析-->
		<div id="chart"></div>
		<!--表格分析-->
		<div id="analytics-occupancy">
			<table class="scrollable" id="analyticsTable">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>8am</th>
						<th>9am</th>
						<th>10am</th>
						<th>11am</th>
						<th>12pm</th>
						<th>1pm</th>
						<th>2pm</th>
						<th>3pm</th>
						<th>4pm</th>
						<th>5pm</th>
						<th>6pm</th>
						<th>7pm</th>
						<th>8pm</th>
						<th>9pm</th>
						<th>10pm-8am</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<!--车库占位表格-->
	<div id="occupancyContent">
		<table class="scrollable" id="occupancyTable">
			<thead>
				<tr>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	
	<div id="tabControl">
		<p>Provinces</p>
		<select id="provinces">
		</select>
		<p>City</p>
		<select id="city">
		</select>
		<p>Areas</p>
		<select id="areas">
		</select>
		<p>Blocks</p>
		<select id="blocks">
		</select>
		<div id="garageName">
			<p>Garage Name</p>
			<select id="garage_name">
			</select>
		</div>
		<div id="dateRange">
			<p>Date Range</p>
			<div id="rangeSlider"></div>
		</div>
		<div id="weekDay">
			<p>Week Day</p>
			<select id="day">
				<option value="7">(All)</option>
				<option value="1">Monday</option>
				<option value="2">Tuesday</option>
				<option value="3">Wednesday</option>
				<option value="4">Thursday</option>
				<option value="5">Friday</option>
				<option value="6">Saturday</option>
				<option value="0">Sunday</option>
			</select>
		</div>
		<div id="weekStarting">
			<p>Week Starting</p>
			<p>
				<label class="colorLbl blue">&nbsp;</label>
				<label id="firstWeek">7/9/2014</label>
			</p>
			<p>
				<label class="colorLbl orange">&nbsp;</label>
				<label id="secondWeek">14/9/2014</label>
			</p>
			<p>
				<label class="colorLbl taupeBrown">&nbsp;</label>
				<label id="thirdWeek">21/9/2014</label>
			</p>
			<p>
				<label class="colorLbl green">&nbsp;</label>
				<label id="fourthWeek">28/9/2014</label>
			</p>
		</div>
		<div id="tabOccupancy">
			<p>Occupancy</p>
			<label >8%</label>
			<label class="colorRange">&nbsp;</label>
			<label class="restore">95%</label>
		</div>
		<div id="status">
			<p>Status</p>
			<p>
				<label class="colorLbl darkGreen">&nbsp;</label>
				<label >空闲</label>
			</p>
			<p>
				<label class="colorLbl red">&nbsp;</label>
				<label >繁忙</label>
			</p>
			<p>
				<label class="colorLbl darkGray">&nbsp;</label>
				<label >空缺</label>
			</p>
		</div>
	</div>
</div>
